* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  border: 2px solid black;
}

.board {
height: 70vh;
  max-height:350px;
  width: 70vh;
  max-width: 350px;
  border: 2px solid blue;
  display: grid;
  grid-template: 33.33% 33.33% 33.33% / 33.33% 33.33% 33.33%;
}

.cell {
  height: auto;
  width: auto;
  border: 1px solid red;
}

