@font-face {
  font-family: pixelated;
  src: url(./Pixelify_Sans/PixelifySans-VariableFont_wght.ttf);
}


.header {
  display: flex;
  flex-direction: column;
  font-family: pixelated;
  align-items: center;
  width: 100%;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.ctrlPanel {
  display: flex;
  flex-direction: column;
  width:20%;
  height: auto;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border: 75px solid rgb(234, 32, 32);
  height: 500px;
  width: 500px;
}

.row {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.cell {
  display: flex;
  flex: 1;
  background-color: gainsboro;
}
