.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container h1 {
  align-items: center;
  justify-content: center;
  letter-spacing: 0.7rem;
  font-family: Chalkduster;
}

.container p {
    font-family: Chalkduster;
    margin-top: 8%;
}

.buttonBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  margin-top: 8%;
  margin-bottom: 5%;
}

.buttonBox button {
  background-color: white;
  height: 40px;
  width: 100px;
  border: 3px solid black;
  border-radius: 7px;
  font-family: Chalkduster;
}

.buttonBox button:hover {
  cursor: pointer;
}

button:focus {
  text-decoration: underline;
  font-size: 1rem;
  font-weight: bold;
}

.winnerBox {
    border: 1px solid black;
    height: 100px;
    font-family: Chalkduster;
}

.scoreBox {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50px;
  width: 120px;
  font-family: Chalkduster;
}

.playerScore {
  margin-bottom: 10px;
}
